openapi: '3.0.3'
info:
  title: Accounts Service API
  description: >
    API for authentication (SSO) and user account management.
    The Gateway (BFF) accepts HTTP requests based on this definition
    and performs redirects or internal gRPC calls as needed.
  version: '1.0.0'

servers:
  - url: https://accounts.hss-science.org/api/v1
    description: Production server

paths:
  # SSO Flow Endpoints (Redirect-based)
  /authorize:
    get:
      summary: Start SSO authentication flow
      description: >
        Accepts login requests from client services.
        If a valid session exists, redirects back to the client.
        Otherwise, redirects the user to an external IdP (e.g. Discord).
      operationId: StartOAuthFlow
      parameters:
        - name: audience
          in: query
          description: Identifier of the requesting client service
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: URL to redirect to after successful login
          required: true
          schema:
            type: string
            format: uri
        - name: state
          in: query
          description: CSRF protection value generated by the client
          required: false
          schema:
            type: string
      responses:
        '302':
          description: >
            Redirect to the next step.
            (Not authenticated → external IdP,
             Authenticated → redirect_uri)
          headers:
            Location:
              description: Redirect destination URL
              schema:
                type: string
        '400':
          description: Invalid or missing parameters (e.g. audience, redirect_uri)

  /oauth/callback:
    get:
      summary: Callback from external IdP
      description: >
        Endpoint called by an external authentication provider (e.g. Discord).
        Issues an Accounts session and redirects back to the original client.
      operationId: OAuthCallback
      parameters:
        - name: code
          in: query
          description: Authorization code issued by the IdP
          required: true
          schema:
            type: string
        - name: state
          in: query
          description: State value for CSRF validation
          required: true
          schema:
            type: string
      responses:
        '302':
          description: >
            Authentication succeeded.
            Redirects to the client redirect_uri with an internal auth code.
            (Location: {redirect_uri}?code={internal_code}&state={state})
          headers:
            Location:
              schema:
                type: string
            Set-Cookie:
              description: Session cookie for the Accounts service
              schema:
                type: string
        '401':
          description: Authentication failed or state mismatch