openapi: '3.0.3'
info:
  title: Accounts BFF API
  description: |
    HTTP API for hss-science SSO authentication.
    Handles OAuth flow redirects and session management.
  version: '1.0.0'

servers:
  - url: https://accounts.hss-science.org/api/v1
    description: Production server

paths:
  /authorize:
    get:
      summary: Start SSO authentication flow
      description: |
        Entry point for SSO. Client services redirect users here.
        If an active Accounts session exists, skips the external IdP and
        redirects directly back with an internal auth code.
        Otherwise, redirects the user to the external IdP (Discord).
      operationId: StartOAuthFlow
      parameters:
        - name: audience
          in: query
          description: Identifier of the requesting client service
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: URL to redirect to after authentication
          required: true
          schema:
            type: string
            format: uri
        - name: state
          in: query
          description: Client-generated CSRF state (passed through opaquely)
          required: false
          schema:
            type: string
      responses:
        '302':
          description: |
            Redirect to the next step:
            - No session: external IdP authorization page
            - Active session: redirect_uri with code and state
          headers:
            Location:
              description: Redirect destination URL
              schema:
                type: string
        '400':
          description: Invalid or missing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /oauth/callback:
    get:
      summary: OAuth provider callback
      description: |
        Receives the authorization code from the external IdP.
        Validates the OAuth state, exchanges the code, establishes
        an Accounts session, and redirects to the client service.
      operationId: OAuthCallback
      parameters:
        - name: code
          in: query
          description: Authorization code issued by the IdP
          required: true
          schema:
            type: string
        - name: state
          in: query
          description: State value for CSRF validation
          required: true
          schema:
            type: string
      responses:
        '302':
          description: |
            Authentication succeeded.
            Redirects to: {redirect_uri}?code={internal_code}&state={client_state}
          headers:
            Location:
              schema:
                type: string
            Set-Cookie:
              description: Accounts session cookie
              schema:
                type: string
        '401':
          description: Authentication failed or state mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /me:
    get:
      summary: Get current authenticated user
      description: |
        Returns user info from the active Accounts session.
        Requires a valid session cookie.
      operationId: GetCurrentUser
      responses:
        '200':
          description: Authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    User:
      type: object
      required:
        - id
        - display_name
        - avatar_url
      properties:
        id:
          type: string
          format: uuid
        display_name:
          type: string
        avatar_url:
          type: string

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error description
