@layer components {
  /* 
   * Root Layout System 
   */
  .layout-screen {
    @apply flex flex-col h-screen w-full overflow-hidden;
  }

  .layout-header {
    @apply flex-none h-[var(--layout-header-height)] w-full flex items-center z-10;
  }

  .layout-main {
    @apply flex-1 flex min-w-0 min-h-0;
  }

  .layout-sidebar {
    @apply flex-none w-[var(--layout-sidebar-width)];
  }

  .layout-content {
    @apply flex-1 flex flex-col min-w-0 min-h-0;
  }
}
